name: Build

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: 21
      - uses: gradle/actions/setup-gradle@v4
      - uses: actions/setup-go@v6
        with:
          go-version: "1.26"
          check-latest: true # Always check for the latest patch release
      - name: Update CA
        if: github.repository == 'MetaCubeX/ClashMetaForAndroid'
        run: |
          sudo apt-get update && sudo apt-get install ca-certificates
          sudo update-ca-certificates
          cp -f /etc/ssl/certs/ca-certificates.crt core/src/foss/golang/clash/component/ca/ca-certificates.crt
      - name: Write signing properties
        if: github.repository == 'MetaCubeX/ClashMetaForAndroid'
        env:
          SIGNING_STORE_PASSWORD: ${{ secrets.SIGNING_STORE_PASSWORD }}
          SIGNING_KEY_ALIAS: ${{ secrets.SIGNING_KEY_ALIAS }}
          SIGNING_KEY_PASSWORD: ${{ secrets.SIGNING_KEY_PASSWORD }}
        run: |
          touch signing.properties
          echo keystore.password="$SIGNING_STORE_PASSWORD" > signing.properties
          echo key.alias="$SIGNING_KEY_ALIAS" >> signing.properties
          echo key.password="$SIGNING_KEY_PASSWORD" >> signing.properties
      - name: Build
        run: ./gradlew app:assembleAlphaRelease
      - name: Delete release if exist then create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release view Prerelease-alpha && gh release delete Prerelease-alpha -y --cleanup-tag
          gh release create Prerelease-alpha "./app/build/outputs/apk/alpha/release/"*.apk --generate-notes
